<header>
    <nav class="container">
        <a href="#" class="logo">
            <img src="https://via.placeholder.com/150x40/cccccc/000000?text=India+Advocacy" alt="India Advocacy Logo" width="150" height="40">
        </a>
        <div class="nav-right-cluster">
            <ul class="desktop-nav-links">
                <li><a href="#">Startup</a>
                    <div class="dropdown-container">
                        <ul class="dropdown-menu cols-2">
                            <li><a href="#">Private Limited Registration</a></li><li><a href="#">LLP Registration</a></li><li><a href="#">One Person Company Registration</a></li><li><a href="#">Article of Association</a></li><li><a href="#">Memorandum of Understanding</a></li><li><a href="#">ESI Registration</a></li><li><a href="#">PF Registration</a></li><li><a href="#">Patent Registration</a></li><li><a href="#">Due Diligence</a></li><li><a href="#">Company Conversion</a></li><li><a href="#">Company Valuation Report</a></li><li><a href="#">Shareholder Agreement</a></li><li><a href="#">Trademark</a></li><li><a href="#">Digital Signature Certificate</a></li><li><a href="#">Founders Agreement</a></li><li><a href="#">Startup India Certificate</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Compliances</a>
                    <div class="dropdown-container">
                        <ul class="dropdown-menu cols-2">
                            <li><a href="#">Annual Return Filing</a></li><li><a href="#">Stock Audit</a></li><li><a href="#">PAN Registration</a></li><li><a href="#">TAN Registration</a></li><li><a href="#">ISO Registration</a></li><li><a href="#">Pollution Control Certificate</a></li><li><a href="#">Import Export Code</a></li><li><a href="#">ROC Compliance</a></li><li><a href="#">Book Keeping</a></li><li><a href="#">MSME Registration</a></li><li><a href="#">Proprietor Registration</a></li><li><a href="#">Hygiene Testing and Rating</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Agreement</a>
                    <div class="dropdown-container">
                        <ul class="dropdown-menu cols-2">
                            <li><a href="#">Rental Agreement</a></li><li><a href="#">Partnership Agreement</a></li><li><a href="#">Non-Disclosure Agreement</a></li><li><a href="#">Franchise Agreement</a></li><li><a href="#">Business Agreement Reviewing</a></li><li><a href="#">Employment Agreement</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">License</a>
                    <div class="dropdown-container">
                        <ul class="dropdown-menu cols-2">
                            <li><a href="#">Food License</a></li><li><a href="#">Trade License</a></li><li><a href="#">Shop Establishment License</a></li><li><a href="#">Labour License</a></li><li><a href="#">Drug License</a></li><li><a href="#">GEM Services</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Taxation</a>
                    <div class="dropdown-container">
                        <ul class="dropdown-menu cols-1">
                            <li><a href="#">GST Services</a></li><li><a href="#">Income Tax Return</a></li><li><a href="#">TDS Filing</a></li><li><a href="#">Property Tax</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Insurance</a>
                    <div class="dropdown-container">
                        <ul class="dropdown-menu cols-2">
                            <li><a href="#">Business Insurance</a></li><li><a href="#">Shopkeeper's Insurance Policy</a></li><li><a href="#">Fire Insurance</a></li><li><a href="#">MSME Employee Insurance</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-primary js-open-expert-modal">Consult an Expert</a>
                    <div class="dropdown-container">
                        <ul class="dropdown-menu cols-1">
                            <li><a href="#">Talk to a Lawyer</a></li>
                            <li><a href="#">Talk to a Chartered Accountant</a></li>
                            <li><a href="#">Talk to a Food Safety Mitra</a></li>
                            <li><a href="#">Talk to a StartUp Expert</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="theme-switcher">
                <i class="fas fa-sun"></i>
                <label class="switch">
                    <input type="checkbox" id="theme-toggle-checkbox">
                    <span class="slider"></span>
                </label>
                <i class="fas fa-moon"></i>
            </div>
            <button class="hamburger-menu" aria-label="Open menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
    </nav>
</header>
<div class="mobile-nav">
    <button class="mobile-nav-close" aria-label="Close menu">&times;</button>
    <ul class="mobile-nav-links">
         <li>
            <a href="#">Startup <i class="fas fa-chevron-right arrow"></i></a>
            <ul class="submenu">
                <li><a href="#">Private Limited Registration</a></li><li><a href="#">LLP Registration</a></li><li><a href="#">One Person Company Registration</a></li><li><a href="#">Article of Association</a></li><li><a href="#">Memorandum of Understanding</a></li><li><a href="#">ESI Registration</a></li><li><a href="#">PF Registration</a></li><li><a href="#">Patent Registration</a></li><li><a href="#">Due Diligence</a></li><li><a href="#">Company Conversion</a></li><li><a href="#">Company Valuation Report</a></li><li><a href="#">Shareholder Agreement</a></li><li><a href="#">Trademark</a></li><li><a href="#">Digital Signature Certificate</a></li><li><a href="#">Founders Agreement</a></li><li><a href="#">Startup India Certificate</a></li>
            </ul>
        </li>
         <li>
            <a href="#">Compliances <i class="fas fa-chevron-right arrow"></i></a>
            <ul class="submenu">
                <li><a href="#">Annual Return Filing</a></li><li><a href="#">Stock Audit</a></li><li><a href="#">PAN Registration</a></li><li><a href="#">TAN Registration</a></li><li><a href="#">ISO Registration</a></li><li><a href="#">Pollution Control Certificate</a></li><li><a href="#">Import Export Code</a></li><li><a href="#">ROC Compliance</a></li><li><a href="#">Book Keeping</a></li><li><a href="#">MSME Registration</a></li><li><a href="#">Proprietor Registration</a></li><li><a href="#">Hygiene Testing and Rating</a></li>
            </ul>
        </li>
         <li>
            <a href="#">Agreement <i class="fas fa-chevron-right arrow"></i></a>
            <ul class="submenu">
                <li><a href="#">Rental Agreement</a></li><li><a href="#">Partnership Agreement</a></li><li><a href="#">Non-Disclosure Agreement</a></li><li><a href="#">Franchise Agreement</a></li><li><a href="#">Business Agreement Reviewing</a></li><li><a href="#">Employment Agreement</a></li>
            </ul>
        </li>
         <li>
            <a href="#">License <i class="fas fa-chevron-right arrow"></i></a>
            <ul class="submenu">
                <li><a href="#">Food License</a></li><li><a href="#">Trade License</a></li><li><a href="#">Shop Establishment License</a></li><li><a href="#">Labour License</a></li><li><a href="#">Drug License</a></li><li><a href="#">GEM Services</a></li>
            </ul>
        </li>
         <li>
            <a href="#">Taxation <i class="fas fa-chevron-right arrow"></i></a>
            <ul class="submenu">
                <li><a href="#">GST Services</a></li><li><a href="#">Income Tax Return</a></li><li><a href="#">TDS Filing</a></li><li><a href="#">Property Tax</a></li>
            </ul>
        </li>
         <li>
            <a href="#">Insurance <i class="fas fa-chevron-right arrow"></i></a>
            <ul class="submenu">
                <li><a href="#">Business Insurance</a></li><li><a href="#">Shopkeeper's Insurance Policy</a></li><li><a href="#">Fire Insurance</a></li><li><a href="#">MSME Employee Insurance</a></li>
            </ul>
        </li>
         <li>
            <a href="#">Consult an Expert <i class="fas fa-chevron-right arrow"></i></a>
            <ul class="submenu">
                <li><a href="#">Talk to a Lawyer</a></li>
                <li><a href="#">Talk to a Chartered Accountant</a></li>
                <li><a href="#">Talk to a Food Safety Mitra</a></li>
                <li><a href="#">Talk to a StartUp Expert</a></li>
            </ul>
        </li>
    </ul>
</div>

